@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;400;800&family=Nova+Mono&family=Xanh+Mono&display=swap");

$green: #b5d7b6;
$blue: #6ebad4;
$red: #bf3939;
$font1: "Azeret Mono", monospace;
$font2: "Nova Mono", monospace;
$font3: "Xanh Mono", monospace;

@mixin page {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 2000px;
  overflow: hidden;
  background-color: #6ebad4;
}

@mixin button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: fit-content;
  width: fit-content;
  background-color: #ffffff6c;
  backdrop-filter: blur(6px);
  font-size: x-large;
  color: white;
  font-weight: 800;
  font-family: $font1;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;

  box-shadow: 2px 2px 4px rgb(0, 0, 0), -1px -1px 4px rgba(255, 255, 255, 0.527);
  text-shadow: 2px 2px 2px black;
}

@mixin year {
  display: flex;
  align-items: flex-start;
  padding-left: 1vw;
  font-size: 6vw;
  font-family: $font1;
  font-weight: 800;
  color: aliceblue;
  text-shadow: 2px 3px 2px black, -2px -3px 2px black;
  @media screen and (max-device-width: 480px) {
    padding-left: 4vw;
    font-size: 12vw;
    align-items: flex-start;
  }
}

@mixin CVtextStyle {
  margin-top: 4vh;
  font-family: $font2;
  font-size: 2vw;
  font-weight: 600;
  color: #000000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.537);
  @media screen and (max-device-width: 480px) {
    width: 86%;
    height: fit-content;
    background-color: #ffffff8c;
    font-size: 4vw;
    border-radius: 6px;
    padding: 4vw;
    margin-bottom: 4vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
@media screen and (max-device-width: 480px) {
  .menu {
    #menuContainer {
      height: 100vh;
      width: 100%;
      h1 {
        font-size: 16vw;
        left: 10%;
        top: 30%;
      }

      h2 {
        top: 20%;
        left: 10%;
        font-size: x-large;
        width: 40%;
      }
    }
  }
}

.bend {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;

  position: fixed;
  z-index: 1;

  width: 100%;
  height: 120vh;
  transform: rotate(-15deg) translate(35%, -20%);

  animation: closeMenu ease 2s;

  @media screen and (max-device-width: 480px) {
    width: 100%;
    height: 14vh;
    transform: rotate(0deg) translate(0%, 0%);
    animation: closeMenu-mobile ease 2s;
  }

  .greenSquare {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 10%;
    height: 100vh;
    background: linear-gradient(14deg, $green 10%, $blue 60%);

    border-radius: 10px;
    transform: translate(100%, 0%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: openCol1rev ease 1s;
    @media screen and (max-device-width: 480px) {
      display: none;
      height: 100vh;
      border-radius: 0px;
    }
    p {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: 8vh;
      transform: rotateZ(90deg) translate(-50%, 0%);
      margin: 0px;
      padding-top: 30px;
      font-family: $font2;
      text-transform: uppercase;
      text-shadow: 2px -2px 2px rgba(0, 0, 0, 0.628);
    }
  }
  .blueSquare {
    width: 20%;
    height: 160vh;
    background: linear-gradient(14deg, $blue 10%, $red 100%);

    border-radius: 10px;
    transform: translate(45%, 0%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: openCol2rev ease 1s;
    @media screen and (max-device-width: 480px) {
      display: none;
      height: 100vh;
      width: 10%;
      border-radius: 0px;
    }
  }
  .redSquare {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    width: 40%;
    height: 80vh;
    background: linear-gradient(14deg, $red 10%, $green 100%);
    border-radius: 10px;
    transform: translate(-10%, 0%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: openCol3rev ease 2s;

    @media screen and (max-device-width: 480px) {
      align-items: flex-start;
      height: 14vh;
      width: 100%;
      transform: translate(0%, 0%);
      border-radius: 0px;
      animation: openCol3rev-mobile ease 2s;
      background-image: url("./pictures/wave.gif");
      background-size: cover;
      overflow: hidden;
    }

    #menuButton {
      @include button;
      text-shadow: 2px 2px 2px black, -2px -2px 2px rgb(116, 116, 116);
      @media screen and (max-device-width: 480px) {
        font-size: 10vw;
        color: whitesmoke;
      }
    }

    #menuButton:hover {
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.795),
        inset -2px -2px 2px rgba(234, 233, 233, 0.804);
      color: rgb(250, 250, 250);
      text-shadow: -0.5px -0.5px 2px rgba(0, 0, 0, 0.671);
      cursor: pointer;
    }
  }
}

.bendOpen {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;

  position: fixed;
  z-index: 3;

  width: 100%;
  height: 120vh;

  transform: rotate(0deg) translate(20%, -10%);
  animation: openMenu ease 2s;

  @media screen and (max-device-width: 480px) {
    height: 100vh;
    transform: translate(10%, 0%);
    animation: openMenu-mobile ease 2s;
  }
  .greenSquare {
    width: 12%;
    height: 22vh;
    background: linear-gradient(14deg, $green 10%, $blue 60%);

    border-radius: 10px;
    transform: translate(100%, 0%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: openCol1 ease 1s;
    @media screen and (max-device-width: 480px) {
      display: none;
    }
  }
  .blueSquare {
    width: 20%;
    height: 40vh;
    background: linear-gradient(14deg, $blue 10%, $red 100%);

    border-radius: 10px;
    transform: translate(40%, 0%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: openCol2 ease 1s;
    @media screen and (max-device-width: 480px) {
      display: none;
    }
  }
  .redSquare {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 40%;
    height: 90vh;
    background: linear-gradient(14deg, $red 10%, $green 100%);
    border-radius: 10px;
    transform: translate(-10%, 6%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: openCol3 ease 2s;
    @media screen and (max-device-width: 480px) {
      width: 100%;
      height: 100vh;
      transform: translate(-10%, 0%);
      animation: openCol3-mobile ease 2s;
      background-image: url("./pictures/wave.gif");
      background-size: cover;
      overflow: hidden;
    }
    .linkBox {
      margin-left: 4%;
      margin-top: 10vh;
      @media screen and (max-device-width: 480px) {
        margin-left: 0%;
        padding: 4%;
        background-color: #ffffff21;
        backdrop-filter: blur(6px);
        width: 100%;
      }
      p {
        font-family: $font2;
        color: black;
        font-size: 1.5vh;
        cursor: pointer;
      }

      a {
        all: unset;
        display: block;
        cursor: pointer;

        margin-left: 60px;
        font-family: $font1;
        font-size: 5vh;
        color: aliceblue;
        text-shadow: 1px 2px 2px black, -1px -2px 2px black;
      }
    }

    #menuButton {
      all: unset;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      height: fit-content;
      width: fit-content;
      background-color: $red;
      font-size: x-large;
      color: white;
      font-weight: 800;
      margin: 10px;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;

      box-shadow: 1px 1px 4px rgb(0, 0, 0),
        -1px -1px 4px rgba(255, 255, 255, 0.527);

      @media screen and (max-device-width: 480px) {
        transform: translate(70%, -70%);
        background-color: $blue;

        /* backdrop-filter: blur(4px); */
      }
    }

    #menuButton:hover {
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.795),
        inset -2px -2px 2px rgba(234, 233, 233, 0.804);
      color: rgb(250, 250, 250);
      text-shadow: -0.5px -0.5px 2px rgba(0, 0, 0, 0.671);
      cursor: pointer;
    }
  }
}

@keyframes openMenu {
  0% {
    transform: rotate(-15deg) translate(35%, -20%);
    z-index: 1;
  }

  100% {
    transform: rotate(0deg) translate(20%, -10%);
    z-index: 4;
  }
}

@keyframes openMenu-mobile {
  0% {
    transform: rotate(0deg) translate(10%, 0%);
    z-index: 1;
    height: 100vh;
  }

  100% {
    transform: rotate(0deg) translate(10%, 0%);
    z-index: 4;
    height: 100vh;
  }
}

@keyframes closeMenu {
  0% {
    transform: rotate(0deg) translate(20%, -10%);
    z-index: 4;
  }
  10% {
    z-index: 1;
  }
  100% {
    transform: rotate(-15deg) translate(35%, -20%);
    z-index: 1;
  }
}

@keyframes closeMenu-mobile {
  0% {
    transform: rotate(0deg) translate(10%, 0%);
    z-index: 1;
  }
  10% {
    z-index: 3;
  }
  100% {
    transform: rotate(0deg) translate(0%, 0%);
    z-index: 3;
    width: 100%;
    height: 10vh;
  }
}

@keyframes openCol1 {
  0% {
    width: 10%;
    height: 100vh;
  }
  100% {
    width: 12%;
    height: 22vh;
  }
}
@keyframes openCol2 {
  0% {
    width: 20%;
    height: 160vh;
  }
  100% {
    width: 20%;
    height: 40vh;
  }
}
@keyframes openCol3 {
  0% {
    width: 40%;
    height: 80vh;
    transform: translate(-10%, 0%);
  }
  100% {
    width: 40%;
    height: 90vh;
    transform: translate(-10%, 6%);
  }
}

@keyframes openCol3-mobile {
  0% {
    width: 100%;
    height: 10vh;
    transform: translate(-10%, 0%);
  }
  100% {
    width: 100%;
    height: 100vh;
    transform: translate(-10%, 0%);
  }
}

@keyframes openCol3-mobile-spec {
  0% {
    width: 40%;
    height: 100vh;
    transform: translate(-10%, 0%);
  }
  100% {
    width: 100%;
    height: 100vh;
    transform: translate(-10%, 0%);
  }
}

@keyframes openCol1rev {
  0% {
    width: 12%;
    height: 22vh;
  }
  100% {
    width: 10%;
    height: 100vh;
  }
}
@keyframes openCol2rev {
  0% {
    width: 20%;
    height: 40vh;
  }
  100% {
    width: 20%;
    height: 160vh;
  }
}
@keyframes openCol3rev {
  0% {
    width: 40%;
    height: 90vh;
    transform: translate(-10%, 10%);
  }
  100% {
    width: 40%;
    height: 80vh;
    transform: translate(-10%, 0%);
  }
}

@keyframes openCol3rev-mobile {
  0% {
    width: 100%;
    height: 100vh;
    transform: translate(-10%, 0%);
  }
  100% {
    height: 14vh;
    width: 100%;
    transform: translate(0%, 0%);
  }
}

@keyframes openCol3rev-mobile-spec {
  0% {
    width: 100%;
    height: 100vh;
    transform: translate(-10%, 0%);
  }
  100% {
    height: 100vh;
    width: 40%;
    transform: translate(0%, 0%);
  }
}

#scrollUp {
  position: fixed;
  bottom: 20px;
  right: 60px;
  z-index: 4;

  .material-symbols-rounded {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }

  @include button;
  @media screen and (max-device-width: 480px) {
    background-color: #bf3939;
    width: 20vw;
    left: 3vw;
    justify-content: center;
    z-index: 1;
  }
}
//menu
.menu {
  .bend {
    position: absolute;
    .redSquare {
      @media screen and (max-device-width: 480px) {
        height: 100vh;
        width: 40%;
        animation: openCol3rev-mobile-spec ease 2s;
      }
    }
  }

  .bendOpen {
    position: static;
    @media screen and (max-device-width: 480px) {
      position: fixed;
    }
    .redSquare {
      @media screen and (max-device-width: 480px) {
        height: 100vh;
        width: 100%;
        animation: openCol3-mobile-spec ease 2s;
      }
    }
  }
}
//about

.about {
  @include page;
  background-color: lavenderblush;
  height: fit-content;

  @media screen and (max-device-width: 480px) {
    background-color: #c3ffef;
  }

  display: grid;
  grid-template-columns: [line1] 20% [line2] 40% [line3] 40% [lastLine];
  grid-template-rows: [row1] 100px [row2] 200px [row3] 200px [row4] 300px [row5] 240px [row6] 300px [row7] 300px [row8] 300px [row9] 350px[row10] 300px [row11] 300px[row12] 0px[row13]460px [row14] 300px [lastRow];

  @media screen and (max-device-width: 480px) {
    grid-template-columns: [line1] 20% [line2] 78% [line3] 2% [lastLine];
    grid-template-rows: [row1] 20vh [row2] 20vh [row3] 20vh [row4] 30vh [row5] 30vh [row6] 30vh [row7] 0vh [row8] 30vh [row9]30vh[row10] 30vh [row11]20vh[row12] 0vh[row13] 40vh [row14] 40vh [lastRow];
  }

  grid-template-areas:
    /* 1 */
    " . . me"
    /* 2 */ " year desc . "
    /* 3 */ " year1 desc1 ."
    /* 4 */ " year2  desc2 ."
    /* 5 */ " year3 desc3 gimiregen "
    /* 6 */ " year4 desc4 gimiregen "
    /* 7 */ " year5 desc5 oyster"
    /* 8 */ " . . oyster "
    /* 9 */ "zugspitze zugspitze zugspitze"
    /* 10 */ "matterhorn matterhorn ."
    /* 11 */ "year8 desc8 desc8 "
    /* 12 */ "year13 desc9 me2 "
    /* 13*/ " year14 desc15 . "
    /* 14*/ " . download download";

  overflow: hidden;

  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }

  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }

  #me {
    grid-area: me;
    position: absolute;
    z-index: 2;
    width: 16vw;
    height: 16vw;
    transform: translate(0%, 3%);
    padding: 1vw;
    border: lavenderblush 4px solid;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    @media screen and (max-device-width: 480px) {
      transform: translate(-110%, 10%);
      width: 22vw;
      height: 22vw;
    }
  }

  .year {
    grid-area: year;
    @include year;
  }

  .expCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    grid-area: desc;
    color: #000000;

    @include CVtextStyle;
  }

  .year.one {
    grid-area: year1;
  }

  .expCard.one {
    grid-area: desc1;
  }

  .year.two {
    grid-area: year2;
  }

  .expCard.two {
    grid-area: desc2;
  }

  #gimiregen {
    width: 600px;
    border-radius: 4px;
    grid-area: gimiregen;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .year.three {
    grid-area: year3;
  }

  .expCard.three {
    grid-area: desc3;
  }

  #circleLeft {
    position: fixed;
    z-index: -1;
    #circle {
      @media screen and (max-device-width: 480px) {
        fill: #11796e;
      }
    }
  }

  .year.four {
    grid-area: year4;
  }

  .expCard.four {
    grid-area: desc4;
  }

  .year.five {
    grid-area: year5;
  }

  .expCard.five {
    grid-area: desc5;
  }

  #oyster {
    position: relative;
    z-index: 1;
    width: 400px;
    grid-area: oyster;
    align-self: center;
    border-radius: 50%;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  #zugspitze {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: zugspitze;

    width: 100%;
    background-image: url("./pictures/zugspitze.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;

    .year.seven {
      position: relative;
      margin: 0;
      padding: 0;
      font-size: 100px;
      grid-area: year7;
      z-index: 2;
      @media screen and (max-device-width: 480px) {
        font-size: 14vw;
      }
    }

    .expCard.seven {
      position: relative;
      grid-area: desc7;
      width: 98%;
      @include CVtextStyle;
      z-index: 2;
      background: rgba(
        255,
        255,
        255,
        0.1
      ); // Make sure this color has an opacity of less than 1
      backdrop-filter: blur(4px);
      border-radius: 4px 4px 4px 4px;
    }
  }

  #matterhorn {
    border-radius: 50%;
    width: 70%;
    margin-top: 60px;
    margin-left: 60px;
    grid-area: matterhorn;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    @media screen and (max-device-width: 480px) {
      margin: 0px;
      margin-top: 10vh;
    }
  }

  .year.eight {
    @include year;
    grid-area: year8;
  }

  .expCard.eight {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    height: 4vh;
    margin-left: 10px;
    border-radius: 4px;
    grid-area: desc8;
    right: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    @include CVtextStyle;
    padding: 20px;
    @media screen and (max-device-width: 480px) {
      display: block;
      @include CVtextStyle();
      backdrop-filter: unset;
    }
  }

  .year.nine {
    @include year;
    grid-area: year9;
  }

  .expCard.nine {
    margin-top: 150px;
    grid-area: desc9;
    @include CVtextStyle;
    color: #ffffff;
    @media screen and (max-device-width: 480px) {
      margin-top: 0px;
    }
  }

  #corsica {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: corsica;

    width: 100%;
    border-radius: 4px 4px 4px 4px;
    background-image: url("./pictures/Corsica.jpg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: cover;
    margin-bottom: 4vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;

    .year.eleven {
      position: relative;
      margin: 0;
      padding: 0;
      color: #5a5a5a;
      font-size: 100px;
      grid-area: year11;
      z-index: 2;
      @media screen and (max-device-width: 480px) {
        font-size: 16vw;
      }
    }

    .expCard.eleven {
      position: relative;
      grid-area: desc11;
      width: 98%;
      font-size: 30px;
      color: #000000;
      z-index: 2;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(4px);
      border-radius: 4px 4px 4px 4px;
    }
  }

  .year.thirteen {
    @include year;
    grid-area: year13;
  }

  .year.fourteen {
    @include year;
    grid-area: year14;
  }

  .expCard.fourteen {
    grid-area: desc14;
  }

  #me2 {
    grid-area: me2;
    width: 400px;
    align-self: center;
    border-radius: 50%;
    transform: translate(26%, 32%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    opacity: 0.4;
  }

  .year.fifteen {
    @include year;
    grid-area: year15;
  }

  .expCard.fifteen {
    @include CVtextStyle;
    grid-area: desc15;
    @media screen and (max-device-width: 480px) {
      display: block;
    }
  }

  #downloadCV {
    transform: translate(0%, 80%);
    grid-area: download;
    @include button();
    @media screen and (max-device-width: 480px) {
      display: block;
      width: 90vw;
      transform: translate(-19%, 0%);
    }
  }

  #downloadCV:hover {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.795),
      inset -2px -2px 2px rgba(234, 233, 233, 0.804);
    color: rgb(250, 250, 250);
    text-shadow: -0.5px -0.5px 2px rgba(0, 0, 0, 0.671);
    cursor: pointer;
  }
}

//project
.project {
  @include page;
  background-color: $blue;
  height: fit-content;
  width: 100%;

  .imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: fit-content;
    @media screen and (max-device-width: 480px) {
      margin-top: 16vh;
      height: fit-content;
    }

    .imgBox {
      height: 40vh;
      width: 82vw;

      display: flex;
      flex-direction: row;

      border-radius: 4px;

      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      margin: 2vh;
      padding: 2vh;
      @media screen and (max-device-width: 480px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
      }

      #img-link {
        all: unset;
        @media screen and (max-device-width: 480px) {
          display: flex;
          justify-content: center;
        }
        img {
          overflow: hidden;
          width: fit-content;
          height: 40vh;
          border-radius: 12px;

          box-sizing: border-box;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          @media screen and (max-device-width: 480px) {
            width: 96%;
            height: fit-content;
          }
        }
      }
      .desc-container {
        @media screen and (max-device-width: 480px) {
          height: fit-content;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        a {
          all: unset;
          position: relative;
          z-index: 5;
          @include button;
          justify-content: center;

          --b: 5px; /* border thickness */
          --c: #0000 25%, rgb(0, 0, 0) 0; /* define the color here */
          padding: 12px;
          background: conic-gradient(
                from 90deg at top var(--b) left var(--b),
                var(--c)
              )
              0 0,
            conic-gradient(from 180deg at top var(--b) right var(--b), var(--c))
              100% 0,
            conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--c))
              0 100%,
            conic-gradient(
                from -90deg at bottom var(--b) right var(--b),
                var(--c)
              )
              100% 100%;
          background-size: 14px 14px; /* adjust border length here */
          background-repeat: no-repeat;
          transition: 0.6s;
          cursor: pointer;
          box-shadow: 2px 2px 6px rgb(0, 0, 0),
            -1px -1px 6px rgba(255, 255, 255, 0.527);
          box-sizing: border-box;
          @media screen and (max-device-width: 480px) {
            z-index: 0;
            width: 90%;
            margin-top: 2vh;
          }
        }

        a:hover {
          background-size: 51% 51%;
          background-color: $blue;
          color: rgb(33, 87, 106);
        }
        h2 {
          margin: 4px;
          box-sizing: border-box;
          @include CVtextStyle;
          margin-top: 2px;
          border-radius: 4px;
          padding-left: 10px;
          @media screen and (max-device-width: 480px) {
            text-align: center;
          }
        }
      }
    }
  }
}
//contact
.contact {
  @include page;

  background: url(./pictures/telephone.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  #menuContainer {
    position: absolute;
    z-index: 1;
    height: 82vh;
    width: 66%;
    transform: translate(10%, 11%);

    border-radius: 4px;

    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;

    @media screen and (max-device-width: 480px) {
      width: 98%;
      height: 76vh;
      z-index: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translate(1%, 20%);
      background-color: #ffffffa1;
      backdrop-filter: blur(1px);
    }

    p {
      font-family: $font2;
      color: black;
      font-size: 3vh;
      padding-left: 4vh;
      cursor: pointer;
      margin-top: 10vh;
    }

    a,
    h2 {
      all: unset;
      display: block;
      cursor: pointer;

      margin-left: 10vh;
      font-family: $font1;
      font-size: 4vh;
      font-weight: 800;
      letter-spacing: 2px;
      color: aliceblue;
      text-shadow: 1px 2px 2px black, -1px -2px 2px black;
      @media screen and (max-device-width: 480px) {
        font-size: 5.4vw;
        margin: 3vw;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        letter-spacing: 0px;
        font-weight: 800;
        text-shadow: none;
        color: #000000;
      }
    }
  }
}
